input {
    display: block;
    background: transparent;
    border: none;
}

textarea {
    background: transparent;
    border: none;
    resize: none;
}

textarea:focus, input:focus{
    outline: none;
}